.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-size: 50px; /* Increased font size for larger text height */
    font-style: normal;
     margin-left : 100px ;  
     margin-top : 50px ; 
      
}

.highlight-text {
    background: linear-gradient(90deg, #4a90e2, #50e3c2);
    -webkit-background-clip: text; /* Clips the background to the text */
    -webkit-text-fill-color: transparent; /* Makes the text color transparent */
    background-clip: text; /* For non-WebKit browsers */
    text-fill-color: transparent; /* For non-WebKit browsers */
    font-size: 50px; /* Adjust as needed */
    font-weight: bold; /* Optional: makes text bold */
  }

  .Herosection h3 {
    font-size: 18px;
    color: black;
    margin-bottom: 20px;
    margin-left :10px ;  

  }

  .Herosection {
    background-image: url('C:\Users\ayush\Desktop\PROJECT-1\frontend\vite-project\src\components\Herosection.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 60px; /* adjust the value to match the height of your navbar */
    height: 100vh; /* make the hero section full-screen height */
    display: flex;
    justify-content: center;
  }

  .start-quiz-btn {
    background: linear-gradient(90deg, #4a90e2, #50e3c2);

    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    margin-left : 150px  ;
    margin-top : 100px;

  }